.gallery {
    width: 100%;
    background: whitesmoke;
    height: 100vh;
}

.photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;

    img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       max-height: 200px;
    }
}

