section {
  width: 100%;
  margin: 0 auto;
  background-color: #D2D1CF;
}

.hero {
    width: 100%;
    min-height: 93vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
  
    overflow-y: hidden;
    min-height: 90vh;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    &__text {
        align-self: center;
        padding: 1rem;
        flex: 1;
        text-align: center;
        justify-content: space-between;
        span {
            display: block;
        }
        .caring {
            font-size: 1rem;
            text-transform: uppercase;
            color: #565656;
            font-weight: bold;
            letter-spacing: 2px;
        }
        .ortho {
            font-size: 1.1rem;
            font-weight: 500;
            color: #4d4d4d;
            font-weight: bold;
            letter-spacing: 2px;
          
        }
        h2 {
            font-size: 2rem;
            letter-spacing: 2px;
            font-weight: bold;
            color: $blueBackground;
            margin-top: 1rem;
            margin-bottom: 3rem;
        }
        button {
            width: 180px;
            height: 45px;
            font-family: 'Montserrat', sans-serif;
            // font-family: 'Roboto', sans-serif;
            font-size: .8rem;
            margin-top: 1rem;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: #D2D1CF;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            &:hover {
                background-color: $blueBackground;
                // box-shadow: 0px 15px 20px rgba(16, 20, 245, 0.4);
                color: #D2D1CF;
                transform: translateY(-7px);
            }
        }
    }
    &__img {
        flex: 1 1 17rem;
        // align-self: center;
        position: relative;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


